<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello from Express Server</h1>
    <form action="/submit-detail" method="POST">
    <input type="text" name="username" placeholder="Enter your name " />
    <label for='male'>Male</label>
    <input type="radio" id="male" name="gender" value="male" /> 
    <label for='female'>Female</label>
    <input type="radio" name="gender" value="female" />
    <button>Submit</button>
    </form>
</body>
</html>